.metaA {
    background-color: #91d3fa;
    border-radius: 30px;
    height: 180px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.metaC {
    background-color: #8fe08e;
    border-radius: 30px;
    height: 180px;
    width: 100%;
    margin-top: 30px;
}

.metaP {
    background-color: #e67878;
    border-radius: 30px;
    height: 180px;
    width: 100%;
    margin-top: 30px;
}

* {
    margin-top: 10px;
}

.btnUniversal {
    margin-top: 10px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 30px;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    height: 50px;
    width: 100%;
}

