body, html {
    background-color: rgb(179, 178, 178);
}

.alterar{
padding: 50px 50px;
background-color: rgb(179, 178, 178);

}
#altsenha{
background-color: green;
text-align: center;
padding-left: 50px;
padding-right: 50px;
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto ;
text-decoration: none;
}
#texto-senha{
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    text-decoration: none;
    outline: none;
    
}
#texto-email{
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    text-decoration: none;
    outline: none;
}
#altemail{
    background-color: green;
text-align: center;
padding-left: 50px;
padding-right: 50px;
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto;
text-decoration: nome;
}
#volta{
    height: 20px;
    width: 30px;
    display: flex;
    margin-top: 25px;
    color: blue;    
    background-color: rgb(179, 178, 178);
}
.link{
    text-decoration: none;
    outline: none;
}